/* policy page
================================================= */

.policy {
    ul {
        list-style: inherit;
        list-style-position: inside;
    }
    h3 {
        color: black;
    }
    .page-content {
        margin-bottom: 200px;
    }
    .pure-g {
        margin-bottom: 40px;
    }
}